.button {
  background: linear-gradient(45deg, #8a8a89, #ffffff, #8a8a89);
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.btn-blue:hover,
#reload:hover {
  font-weight: bold;
  margin: 10px 0px;
}
h1,
h2,
main label {
  margin: 10px;
}
ul {
  list-style: none;
}
.i {
  padding: 4px;
  grid-area: i;
}
header {
  grid-area: h;
  background-color: grey;
  /*border: solid 3px black;
  background: linear-gradient(45deg, #0000ff, #ffffff, #0000ff);*/
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0px;
}
h1 {
  align-self: center;
}
nav {
  background: whitesmoke;
  /*margin: 2px;
  border: solid 3px black;*/
  grid-area: n;
}
main {
  background: whitesmoke;
  /*border: solid 3px black;*/
  grid-area: c;
}
p {
  padding: 1%;
}
.underline {
  text-decoration: underline;
}
.event {
  background: linear-gradient(45deg, #4c4cfb, #ffffff, #4c4cfb);
  border: 2px solid black;
  border-radius: 10px;
}
.btn-blue {
  background: linear-gradient(45deg, #4c4cfb, #ffffff, #4c4cfb);
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
header {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer {
  font-family: "Oswald", sans-serif;
  background-color: grey;
  color: black;
  grid-area: f;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "l c r";
}
a {
  text-decoration: none;
}
header a,
footer a {
  color: black;
}
a:hover {
  color: whitesmoke;
}
.l {
  grid-area: l;
}
.c {
  grid-area: c;
}
.r {
  grid-area: r;
}
label,
.bold {
  font-weight: bold;
}
.indent {
  margin: 20px;
}
.right {
  float: right;
}
.inactive {
  color: #ccc;
}
@media screen and (max-width: 800px) {
  body {
    font-family: "Architects Daughter", cursive;
    margin: 0px;
    padding: 0px;
    width: 100%;
    grid-template-rows: 1f 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "h"
      "n"
      "m"
      "i"
      "f";
  }
  .i,
  header,
  footer,
  main,
  nav {
    margin: 0px;
    padding: 0px;
  }
  .titre,
  .menu {
    display: block;
    text-align: center;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 801px) {
  body {
    font-size: 20px;
    /*background-image: url("../images/sansTexte.jpg");*/
    margin: 0px;
    font-family: "Architects Daughter", cursive;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    grid-template-areas:
      "i h"
      "n c"
      "f f";
  }
}
